html, body{
	height: 100%;
}
h1, h2, h3 , h4, h5, p {
	margin: 0;
	padding: 0;
}
a {
	text-decoration:none;
	color:inherit;	
}
nav{
	text-align: right;
}
nav  a:hover{
	text-decoration: underline;
	color:gray;
}
nav span{
	font-size: medium;
    font-family: monospace;
}
body{
	margin: 0;
	font-family: sans-serif;
}

#container{
	margin: auto;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	justify-content:space-between;
}


.logo-navigation{
	display: flex;
	justify-content: space-around;
	padding: 20px 0;
}
.logo-navigation h1 {
	margin: 0;
	padding: 0;
}
.logo-navigation nav {
	width: 500px;
}
.logo-navigation > nav ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.banner {
	text-align: center;
}
.banner img{
	width: 100%;
}
main{
	margin: auto;
	margin-top: 0px;
	display: flex;
	flex-direction: column;
}
main h1{
	margin: 0px;
	text-align: center;
	text-transform: uppercase;
	font-size: 2.571em;
	line-height: 135%;
}
main strong{
	display: block;
}
main .gcontainer{
	display: grid;
	grid-template-columns:250px 250px 250px 250px ;
	grid-gap:1em;
	padding: 15px 0;
}
/* For Story Details Page */

.story_author{
	display: block;
	font-size:1em;
	font-weight: bold;
	margin-bottom: 4px;
}
.story_time{
	color: #a9a9a9;
    font-size: 0.857em;
}

.story_location{
	font-size: 0.8em;
    color: #41a9c1;
}
.story_title{
	display: block;
    font-size: 1.2em;
    font-weight: 400;
    margin: 19px 0;
}
.story_images{
	margin: 10px 0;
}
.story_all_images{
	padding: 10px 0;
}
.comment{
	display: flex;
    flex-direction: column;
}
.story_review{
	height: 50px;
    display: flex;
    justify-content: space-between;
	padding: 10px 5px;
	border-bottom: 0.5px solid;
	margin-bottom: 12px;
}
.login_box{
	display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}
.sign_in_content{
	width: 400px;
    padding: 8px 18px;
    border-radius: 10px;
    background: lightgray;
}
.sign_in_content button{
	float: right;
	border-radius: 20px;
}
.sign_in_content button:focus{
	outline:none;
}
.comment_box form > p{
	padding:5px 0;
}
.comment_box form > textarea{
	width:100%
}
.replies{
	margin-bottom: 3px;
}
.replies h3{
	margin-bottom: 10px;
    font-size: 1em;
}
.replies .reply_box{
	display: flex;
    margin-bottom: 10px;
}
.replies .content{
	font-size: 12px;
}
.replies .commenter{
	font-style: italic;
    color: violet;
    padding-right: 3px;
    font-size: 15px;
}

.replies .comment_time{
	color: #a9a9a9;
    font-size: 0.857em;
}
.replies .comment_body{
	margin-top: 5px;
}
.replies .avatar {
	margin-right: 7px;
}
/* Story Details Page End Here */
.about{
		background: lightcyan;
		width: 1000px;
		padding: 10px;
		border-radius: 5px;
		margin: 15px 0;
}
.gcontainer .item{
	/* text-align: center; */
	padding: 10px 10px;
	border: 1px solid gray;
	border-radius: 6px;
	box-shadow: 0px 0px 2px rgb(0, 0, 0, .5);
}
.gcontainer .item * {
	padding: 5px 0px;
}
.gcontainer .item img{
	width: 200px;
	height: 250px;
}
.gcontainer p{
	color: #c6c6c6;
}
main footer{
padding: 20px;
text-align: center;
}
main button{
	padding: 10px 13px;
    border-radius: 5%;
    background:#951495;
    border: none;
    color: white;
	font-size: large;
	cursor: pointer;
}
.latest{
	display: flex;
	justify-content: space-evenly;
	height: 400px;
	padding:20px 0;
}
.latest .dvideo{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.latest div{
	overflow:scroll;
}
#container > footer{
	text-align: center;
	padding-bottom: 20px;
	/* background:#c5c5c5; */
	background: linear-gradient(180deg,#911494,#ffffff);
}
/* for add story page */
.disclaimer{
	margin: 30px 0;
}
.box {
	padding: 20px;
	border: 1px solid #e3e3e3;
	width: 700px;
	margin-bottom: 1em;
}
.control:not(:last-child){
	margin-bottom: 1em;
}
.control.has-addon {
	display: flex;
}

.control.has-addon .control-field {
	flex:1;
	border: 1px solid #e3e3e3;
}
.control.has-addon .control-field:focus {
	outline: 0;
	border: 1px solid #00b1b3;
	border-left: none;
}

.control.has-addon .control-field:focus + .control-addon {
	border: 1px solid #00b1b3;
	border-right: none;
	/*animation: fadeColor 2s;
	animation-iteration-count: infinite; */
}
.control.has-addon .control-addon{
	background:#e3e3e3;
	width:25%;
	text-align: right;
}

.control > * {
	padding: .8em;
}
.header{
	background: #e3e3e3;
    padding: 20px;
    font-size: 20px;
    color: teal;
}
.btn {
    /* margin-left: 201px; */
    border-radius: 5%;
    background: #0066ff;
    color: white;
	border: none;
	padding:10px;
}
/* @keyframes fadeColor {

	50% {
		color:#026c6d;
	}
	
} */


.current_page_item{
	color: #951495;
    font-weight: bold;
    border: 1px solid;
    padding: 2px 5px;
    box-shadow: 1px 2px;
 
}
.video{
	display: flex;
    justify-content: space-between;
}
.awerness{
	display: grid;
    grid-template-columns: auto auto auto;
}
.awerness .item{
	margin: 2px;
    text-align: center;
    padding: 15px 0;
}
.awerness figure {
    position: relative;
    overflow: hidden;
    margin: 0;
}